{% extends 'IntrixFrontendBundle:Layout:layout.html.twig' %}
{% block menu %}
    {% include 'IntrixFrontendBundle:Layout:_menu.html.twig' with {'servico' : ''} %}
{%endblock%}
{% block body %}
    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li><a alt="Homepage Intrix" href="{{path('intrix_frontend_homepage')}}">Home</a> <span class="divider">/</span></li>
                        <li><a alt="Serviços Intrix" href="{{path('intrix_frontend_servico')}}">Serviço</a> <span class="divider">/</span></li>
                        <li class="active">Manutenção em sites/sistemas</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <h2>Manutenção em sites/sistemas</h2>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">

            <div class="span3">
                {% include 'IntrixFrontendBundle:Servico:_leftbar.html.twig' with {'manutencao' : ''} %}
            </div>
            <div class="span9">
                <h2>Contrate a <strong>Intrix</strong> aperfeiçoar seu site/sistema.</h2>
                <img class="responsive appear-animation pull-left" src="{{ asset('bundles/intrixfrontend/img/intrix.png')}}" data-appear-animation="fadeInUpBig">
                <p>
                    A <strong>Intrix</strong> conta com uma equipe que pode deixar ainda melhor o seu site/sistema.
                </p>
                <p>
                    Podemos adicionar um novo conteúdo, remover conteúdo antigo, criar novas ferramentas dentro do seu site/sistema e ainda corrigir as falhas.
                </p>
                <p>
                    Entre em contato com a <strong>Intrix</strong>.
                </p>
                <p>
                    <a alt="Preços Aluguel de site" href="{{path('intrix_frontend_valor_aluguel')}}" class="btn btn-large btn-primary">Solicite o seu orçamento</a>
                </p>
            </div>

        </div>

    </div>
{%endblock%}