{% extends 'IntrixFrontendBundle:Layout:layout.html.twig' %}
{% block menu %}
    {% include 'IntrixFrontendBundle:Layout:_menu.html.twig' with {'servico' : ''} %}
{%endblock%}
{% block body %}
    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li><a alt="Homepage Intrix" href="{{path('intrix_frontend_homepage')}}">Home</a> <span class="divider">/</span></li>
                        <li><a alt="Serviços Intrix" href="{{path('intrix_frontend_servico')}}">Serviço</a> <span class="divider">/</span></li>
                        <li class="active">Sites</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <h2>Sites</h2>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">

            <div class="span3">
                {% include 'IntrixFrontendBundle:Servico:_leftbar.html.twig' with {'site' : ''} %}
            </div>
            <div class="span9">
                <h2>Desenvolvimento de <strong>Sites</strong></h2>
                <img class="responsive appear-animation pull-left" src="{{ asset('bundles/intrixfrontend/img/intrix.png')}}" data-appear-animation="fadeInUpBig">
                <p>
                    Hoje em dia a internet é utilizada para diversas atividades, e dentre elas estão as buscas por serviços ou a compra online, por isso 
                    a empresa que está presente na internet além de conquistar seu público alvo, se destaca entre as concorrentes.
                </p>
                <p>
                    Nossos sites são feitos com layout responsivo, onde ele irá funcionar nos mais comuns aplicativos, seja ele
                    computador, tablet ou um smartphone.
                </p>
                <p>
                    <strong>Conheça os nossos preços relacionados a site.</strong>
                </p>
                <p>
                    <a alt="Preços Desenvolvimento de site" href="{{path('intrix_frontend_valor_site')}}" class="btn btn-large btn-primary">Confira os valores</a>
                </p>
            </div>

        </div>

    </div>
{%endblock%}