<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-ribon">
                <span>Entre em contato</span>
            </div>
            <div class="span6">
                <h4>Sobre a <strong>Intrix</strong></h4>
                <p>
                    A Intrix foi fundada em 2012 na cidade de Araucária, região metropolitana de Curitiba. O nosso crescimento é fruto de uma ótima relação que
                    temos com nossos clientes e pela evolução continua que conquistamos através de cada projeto realizado... 
                     <a alt="Sobre a Intrix" href="{{path('intrix_frontend_sobre')}}" class="btn-flat btn-mini">Saiba mais <i class="icon-arrow-right"></i></a>
                </p>
                <hr class="light">
            </div>
            
            <div class="span2">
                <h4>Siga-nos</h4>
                <div class="social-icons">
                    <ul class="social-icons">
                        <li class="facebook"><a href="https://www.facebook.com/intrixinternet" target="_blank" data-placement="bottom" rel="tooltip" title="Facebook">Facebook</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="span1">
                    <a href="" class="logo">
                        <img alt="Intrix - Desenvolvimento de site, sistema, loja virtual e aluguel de sites" src="{{ asset('bundles/intrixfrontend/img/logo-footer.png') }}">
                    </a>
                </div>
                <div class="span7">
                    <p>© Copyright 2014 Por <a href="www.intrix.com.br" title="Intrix">Intrix</a>. Todos os Direitos Reservados.</p>
                </div>
                <div class="span4">
                    <nav id="sub-menu">
                        <ul>
                            <li><a href="">Perguntas frequentes</a></li>
                            <li><a href="">Sitemap</a></li>
                            <li><a href="">Contato</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>